@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** Yanked from my browsers style sheet */
.disabled {
    background-color: rgba(239, 239, 239, 0.3);
    color: rgba(16, 16, 16, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
}

/*******************
  PAGE LAYOUT
 *******************/
header {
    position: relative;
    text-align: center;
    font-family: "Sevillana", cursive;
    padding-bottom: 2rem;
}

.quickMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.gameContainer {
    display: flex;
    justify-content: space-around;
}

.upgradeItemHeader {
    display: grid;
    grid-template-columns: 2fr  1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 3px;
}

.upgradeItem {
    display: grid;
    grid-template-columns: 2fr  1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 3px;
}


/*******************
  Cookie
 *******************/


.cookie > img{
    max-height: 240px;
    animation: cookie 4s linear infinite;
}

@keyframes cookie {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

/*******************
  Shakey shake
 *******************/

/* https://unused-css.com/blog/css-shake-animation/ */
@-webkit-keyframes shaker {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
}

.shake {
    animation-name: shaker;
    animation-duration: 0.1s;
    transform-origin:50% 50%;
    animation-timing-function: linear;
    background-color: #c0392b;
}

/*******************
  PRETTI
 *******************/

body {
    background-color: rgb(170, 6, 6);
    color: rgb(243, 176, 0);
    font-size: 1.1rem;
}

button {
    background-color: rgb(165, 0, 0);
    border-color: rgb(170, 27, 222);
    border-width: 3px;
    padding: 3px;
}
